@charset "utf-8";
/* CSS Document */

.topbox{
	margin:0;
	padding:0;
	width:200px;
	height:100px;
	background:#666;
}

.bottombox{
	
	margin:0;
	padding:0;
	width:500px;
	height:200px;
	background:#F00;
	position:absolute;
	z-index:-1;
	
}